.form-wrapper{
  width: 90vw;
}

form {
 width: 100%;
 justify-content: space-between;

 input[type="text"] {
  width: 350px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #ffffff;
  padding-left: 10px;
 }
}

.form-title {
  width: 174px;
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888888;
}
